$gradient-size: 100px;
$outer-shadow-blur: 100px;
$outer-shadow-size: 2px;
$planet-1-color: rgba(202, 122, 255, 0.8);
$planet-2-color: rgba(242, 92, 92, 0.8);
$planet-3-color: rgba(74, 144, 226, 0.8);
$planet-4-color: rgba(255, 152, 177, 0.8);
$planet-5-color: rgba(80, 227, 194, 0.8);
$planet-6-color: rgba(184, 233, 134, 0.8);
$inactive-color: rgba(104, 104, 104, 0.8);
$planet-1-size: 262px;
$planet-2-size: 164px;
$planet-3-size: 187px;
$planet-4-size: 149px;
$planet-5-size: 100px;

.space {
  position: relative;
  width: 670px;
  height: 721px;
  margin-top: 13%;
  //border: 1px solid teal;
}

.planet {
  position: absolute;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.planet-1 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-1-color, #000);
  height: $planet-1-size;
  width: $planet-1-size;
  top: 0;
  left: 7%;
  /*box-shadow: inset 0 0 120px #CA7AFF*/
}

.planet-2 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-2-color, #000);
  height: $planet-2-size;
  width: $planet-2-size;
  top: -12%;
  left: 64%;
  /*box-shadow: inset 0 0 120px #F25C5C;*/
}

.planet-3 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-3-color, #000);
  height: $planet-3-size;
  width: $planet-3-size;
  top: 35%;
  left: 73%;
  /*box-shadow: inset 0 0 120px #4A90E2;*/
}

.planet-4 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-4-color, #000);
  height: $planet-4-size;
  width: $planet-4-size;
  top: 72%;
  left: 48%;
  /*box-shadow: inset 0 0 120px #FF98B1;*/
}

.planet-5 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-5-color, #000);
  height: $planet-5-size;
  width: $planet-5-size;
  top: 86%;
  left: 15%;
  /*box-shadow: inset 0 0 120px #50E3C2;*/
}

.planet-6 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-5-color, #000);
  height: 140px;
  width: 140px;
  top: 60%;
  left: 20%;
  /*box-shadow: inset 0 0 120px #50E3C2;*/
}

.planet-6 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-6-color, #000);
  /*box-shadow: inset 0 0 120px #B8E986;*/
}

.planet-1.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-1-color;
  /*box-shadow: inset 0 0 120px #CA7AFF, 0 0 120px #CA7AFF;*/
}

.planet-2.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-2-color;
  /*box-shadow: inset 0 0 120px #F25C5C, 0 0 120px #F25C5C;*/
}

.planet-3.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-3-color;
  /*box-shadow: inset 0 0 120px #4A90E2, 0 0 120px #4A90E2;*/
}

.planet-4.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-4-color;
  /*box-shadow: inset 0 0 120px #FF98B1, 0 0 120px #FF98B1;*/
}

.planet-5.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-5-color;
  /*box-shadow: inset 0 0 120px #50E3C2, 0 0 120px #50E3C2;*/
}

.planet-6.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-6-color;
  /*box-shadow: inset 0 0 120px #B8E986, 0 0 120px #B8E986;*/
}

.planet.inactive {
  opacity: 0.8;
  background: radial-gradient(circle at $gradient-size $gradient-size, $inactive-color, #000);
  /*box-shadow: inset 0 0 120px #686868;*/
}

@media only screen and (max-width : 1280px) {
  .space {
    margin: 0;
    width: 670px;
    height: 500px;
  }

  .planet1 {
    left: 10%;
    height: 220px;
    width: 220px;
  }

  .planet2 {
    top: 0;
    height: 173px;
    width: 173px;
  }

  .planet3 {
    top: 40%;
    height: 185px;
    width: 185px;
  }

  .planet4 {
    height: 153px;
    width: 153px;
  }

  .planet5 {
    height: 140px;
    width: 140px;
  }
}

/* Small Devices */
@media only screen and (max-width : 736px) {
  .space {
    margin: 0;
    width: 455px;
    height: 250px;
  }

  .planet1 {
    left: 10%;
    height: 127px;
    width: 127px;
  }

  .planet2 {
    height: 95px;
    width: 95px;
  }

  .planet3 {
    height: 103px;
    width: 103px;
  }

  .planet4 {
    height: 82px;
    width: 82px;
  }

  .planet5 {
    height: 73px;
    width: 73px;
  }
}

@media only screen and (max-width: 568px) {
  .space {
    margin: 0;
    width: 340px;
    height: 200px;
  }

  .planet1 {
    left: 10%;
    height: 98px;
    width: 98px;
  }

  .planet2 {
    height: 73px;
    width: 73px;
  }

  .planet3 {
    height: 79px;
    width: 79px;
  }

  .planet4 {
    height: 69px;
    width: 69px;
  }

  .planet5 {
    height: 56px;
    width: 56px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .space {
    margin: 0;
    width: 200px;
    height: 450px;
  }

  .planet1 {
    left: 0;
    height: 98px;
    width: 98px;
  }

  .planet2 {
    top: -5%;
    height: 73px;
    width: 73px;
  }

  .planet3 {
    height: 79px;
    width: 79px;
  }

  .planet4 {
    height: 69px;
    width: 69px;
  }

  .planet5 {
    height: 56px;
    width: 56px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .space {
    margin-right: 20px;
  }

  .planet1 {
    height: 295px;
    width: 296px;
  }

  .planet2 {
    height: 218px;
    width: 218px;
  }

  .planet3 {
    height: 236px;
    width: 236px;
  }

  .planet4 {
    height: 206px;
    width: 206px;
  }

  .planet5 {
    height: 169px;
    width: 169px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .space {
    width: 495px;
    height: 554px;
    margin-left: 100px;
  }

  .planet1 {
    height: 295px;
    width: 296px;
  }

  .planet2 {
    height: 218px;
    width: 218px;
  }

  .planet3 {
    height: 236px;
    width: 236px;
  }

  .planet4 {
    height: 206px;
    width: 206px;
  }

  .planet5 {
    height: 169px;
    width: 169px;
  }
}
