$gradient-size: 50%;
$outer-shadow-blur: 100px;
$outer-shadow-size: 5px;
$planet-1-color: rgba(202, 122, 255, 1);
$planet-2-color: rgba(242, 92, 92, 1);
$planet-3-color: rgba(74, 144, 226, 1);
$planet-4-color: rgba(255, 152, 177, 1);
$planet-5-color: rgba(80, 227, 194, 1);
$planet-6-color: rgba(184, 233, 134, 1);
$inactive-color: rgba(104, 104, 104, 1);
$planet-1-size: 262px;
$planet-2-size: 164px;
$planet-3-size: 187px;
$planet-4-size: 149px;
$planet-5-size: 100px;
$planet-gradient: rgba(0, 0, 0, 1);

.space {
  position: relative;
  width: 670px;
  height: 721px;
  margin-top: 13%;
  //border: 1px solid teal;
}

.planet {
  position: absolute;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.planet-1 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-1-color, $planet-gradient);
  height: $planet-1-size;
  width: $planet-1-size;
  top: 0;
  left: 7%;
  /*box-shadow: inset 0 0 120px #CA7AFF*/
}

.planet-2 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-2-color, $planet-gradient);
  height: $planet-2-size;
  width: $planet-2-size;
  top: -12%;
  left: 64%;
  /*box-shadow: inset 0 0 120px #F25C5C;*/
}

.planet-3 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-3-color, $planet-gradient);
  height: $planet-3-size;
  width: $planet-3-size;
  top: 35%;
  left: 73%;
  /*box-shadow: inset 0 0 120px #4A90E2;*/
}

.planet-4 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-4-color, $planet-gradient);
  height: $planet-4-size;
  width: $planet-4-size;
  top: 72%;
  left: 48%;
  /*box-shadow: inset 0 0 120px #FF98B1;*/
}

.planet-5 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-5-color, $planet-gradient);
  height: $planet-5-size;
  width: $planet-5-size;
  top: 86%;
  left: 15%;
  /*box-shadow: inset 0 0 120px #50E3C2;*/
}

.planet-6 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-5-color, $planet-gradient);
  height: 140px;
  width: 140px;
  top: 60%;
  left: 20%;
  /*box-shadow: inset 0 0 120px #50E3C2;*/
}

.planet-6 {
  background: radial-gradient(circle at $gradient-size $gradient-size, $planet-6-color, $planet-gradient);
  /*box-shadow: inset 0 0 120px #B8E986;*/
}

.planet-1.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-1-color;
  /*box-shadow: inset 0 0 120px #CA7AFF, 0 0 120px #CA7AFF;*/
}

.planet-2.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-2-color;
  /*box-shadow: inset 0 0 120px #F25C5C, 0 0 120px #F25C5C;*/
}

.planet-3.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-3-color;
  /*box-shadow: inset 0 0 120px #4A90E2, 0 0 120px #4A90E2;*/
}

.planet-4.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-4-color;
  /*box-shadow: inset 0 0 120px #FF98B1, 0 0 120px #FF98B1;*/
}

.planet-5.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-5-color;
  /*box-shadow: inset 0 0 120px #50E3C2, 0 0 120px #50E3C2;*/
}

.planet-6.selected {
  box-shadow: 0 0 $outer-shadow-blur $outer-shadow-size $planet-6-color;
  /*box-shadow: inset 0 0 120px #B8E986, 0 0 120px #B8E986;*/
}

.planet.inactive {
  opacity: 0.8;
  background: radial-gradient(circle at $gradient-size $gradient-size, $inactive-color, $planet-gradient);
  /*box-shadow: inset 0 0 120px #686868;*/
}


@media only screen and (max-width : 1280px) and (max-height: 900px) {
  $planet-1-size: 232px;
  $planet-2-size: 134px;
  $planet-3-size: 157px;
  $planet-4-size: 119px;
  $planet-5-size: 70px;
  $space-height: 450px;
  $space-width: 750px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

@media only screen and (max-width : 992px) {
  $planet-1-size: 116px;
  $planet-2-size: 67px;
  $planet-3-size: 77px;
  $planet-4-size: 70px;
  $planet-5-size: 35px;
  $space-height: 250px;
  $space-width: 520px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
    top: -2%;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
    top: 45%;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
    left: 40%;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

/* Small Devices */
@media only screen and (max-width : 736px) {
  $planet-1-size: 116px;
  $planet-2-size: 67px;
  $planet-3-size: 77px;
  $planet-4-size: 70px;
  $planet-5-size: 35px;
  $space-height: 250px;
  $space-width: 450px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  $planet-1-size: 116px;
  $planet-2-size: 67px;
  $planet-3-size: 77px;
  $planet-4-size: 70px;
  $planet-5-size: 35px;
  $space-height: 250px;
  $space-width: 400px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
    top: 2%;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
    top: 50%;
    left: 60%;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
    left: 25%;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

@media only screen and (max-width: 568px) {
  $planet-1-size: 96px;
  $planet-2-size: 47px;
  $planet-3-size: 57px;
  $planet-4-size: 40px;
  $planet-5-size: 15px;
  $space-height: 250px;
  $space-width: 325px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
    top: 0%;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
    top: 50%;
    left: 60%;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
    left: 25%;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  $planet-1-size: 116px;
  $planet-2-size: 67px;
  $planet-3-size: 77px;
  $planet-4-size: 70px;
  $planet-5-size: 35px;
  $space-height: 550px;
  $space-width: 200px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
    left: 0;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
    top: 25%;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
    top: 50%;
    left: 60%;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
    left: 25%;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
  $planet-1-size: 96px;
  $planet-2-size: 47px;
  $planet-3-size: 57px;
  $planet-4-size: 40px;
  $planet-5-size: 15px;
  $space-height: 400px;
  $space-width: 180px;

  .space {
    width: $space-width;
    height: $space-height;
    margin-top: 30px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
    top: 25%;
    left: 70%;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
    top: 50%;
    left: 60%;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
    left: 25%;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  $planet-1-size: 232px;
  $planet-2-size: 134px;
  $planet-3-size: 157px;
  $planet-4-size: 119px;
  $planet-5-size: 70px;
  $space-height: 700px;
  $space-width: 425px;

  .space {
    margin-top: 85px;
    width: $space-width;
    height: $space-height;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .space {
    width: 495px;
    height: 700px;
  }

  $planet-1-size: 232px;
  $planet-2-size: 134px;
  $planet-3-size: 157px;
  $planet-4-size: 119px;
  $planet-5-size: 70px;

  .space {
    margin: 0;
    width: 670px;
    height: 420px;
  }

  .planet-1 {
    height: $planet-1-size;
    width: $planet-1-size;
  }

  .planet-2 {
    height: $planet-2-size;
    width: $planet-2-size;
  }

  .planet-3 {
    height: $planet-3-size;
    width: $planet-3-size;
  }

  .planet-4 {
    height: $planet-4-size;
    width: $planet-4-size;
  }

  .planet-5 {
    height: $planet-5-size;
    width: $planet-5-size;
  }

  .planet-6 {
    height: 140px;
    width: 140px;
  }
}
