$speech-bubble-color: rgba(232, 232, 232, 0.62);

.speech-bubble {
  position: relative;
  height: 116px;
  width: 594px;
  background-color: $speech-bubble-color;
  border-radius: 5px;
  z-index: 100;
}

.bubble-text {
  height: 100%;
  width: 100%;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 40px solid $speech-bubble-color;

  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  transform: rotate(50deg);

  margin-left: -18px;
  margin-bottom: -26px;
}

@media only screen and (max-width : 1280px) {
  .speech-bubble {
    top: 15px;
    height: 65px;
    width: 400px;
    margin-left: 10px;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -11px;
    margin-bottom: 1px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .speech-bubble {
    top: 15px;
    height: 55px;
    width: 240px;
    margin-left: -2px;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -11px;
    margin-bottom: 1px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .speech-bubble {
    height: 45px;
    width: 200px;
    margin-left: -2px;
    top: 5px;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -11px;
    margin-bottom: 1px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .speech-bubble {
    top: 0;
  }
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .speech-bubble {
    height: 100px;
    width: 450px;
    margin-left: -2px;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .speech-bubble:after {
    border-top: 40px solid #E8E8E8;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    transform: rotate(50deg);

    margin-left: -18px;
    margin-bottom: -26px;
  }

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .speech-bubble {
    height: 100px;
    width: 400px;
    margin-left: -2px;
  }
}
